Repository jtiala/themeless-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

docs: add development instructions for building
  apps/docs/stories/Development.mdx
Due: prettier --write

feat: add blockquote component
  apps/docs/stories/Typography/Blockquote.stories.tsx
  apps/react-example/src/examples/Typography/TypographyExample.tsx
  apps/react-example/src/examples/Typography/__snapshots__/TypographyExample.test.tsx.snap
  packages/react/src/components/Blockquote/Blockquote.test.tsx
  packages/react/src/components/Blockquote/Blockquote.tsx
  packages/react/src/components/Blockquote/__snapshots__/Blockquote.test.tsx.snap
  packages/react/src/components/Blockquote/index.ts
  packages/react/src/components/index.ts
  packages/style/src/components/blockquote.css
  packages/style/src/index.css
Due: eslint, prettier --write, stylelint

fix!: stop exposing rest of the params to the created heading element
  packages/react/src/components/Heading/Heading.tsx
Due: eslint, prettier --write

test: improve snapshot testing
  apps/react-example/src/examples/Typography/TypographyExample.test.tsx
  apps/react-example/src/examples/Typography/__snapshots__/TypographyExample.test.tsx.snap
  packages/react/src/components/Blockquote/Blockquote.test.tsx
  packages/react/src/components/Blockquote/__snapshots__/Blockquote.test.tsx.snap
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Heading/Heading.test.tsx
  packages/react/src/components/Heading/__snapshots__/Heading.test.tsx.snap
  packages/react/src/components/Paragraph/Paragraph.test.tsx
  packages/react/src/components/Paragraph/__snapshots__/Paragraph.test.tsx.snap
  packages/react/src/components/Text/Text.test.tsx
  packages/react/src/components/Text/__snapshots__/Text.test.tsx.snap
Due: eslint, prettier --write

feat: add list component
  apps/docs/stories/Typography/List.stories.tsx
  apps/react-example/src/examples/Typography/TypographyExample.tsx
  apps/react-example/src/examples/Typography/__snapshots__/TypographyExample.test.tsx.snap
  packages/react/src/components/List/List.test.tsx
  packages/react/src/components/List/List.tsx
  packages/react/src/components/List/ListItem.tsx
  packages/react/src/components/List/__snapshots__/List.test.tsx.snap
  packages/react/src/components/List/index.ts
  packages/react/src/components/index.ts
  packages/style/src/components/list.css
  packages/style/src/index.css
Due: eslint, prettier --write, stylelint

docs: fix typo in ListItem doc block
  packages/react/src/components/List/ListItem.tsx
Due: eslint, prettier --write

test: fix malformed snap file
  packages/react/src/components/Blockquote/__snapshots__/Blockquote.test.tsx.snap
Due: none

chore: remove unused dependency
  apps/react-example/package.json
Due: prettier --write

chore: split eslint config to project specific configs
  apps/docs/.eslintrc.json
  apps/react-example/.eslintrc.json
  packages/eslint-config/base.json
  packages/eslint-config/nextjs.json
  packages/eslint-config/overwrites.json
  packages/eslint-config/package.json
  packages/eslint-config/storybook.json
  packages/eslint-config/vite.json
  packages/react/.eslintrc.json
  packages/style/.eslintrc.json
  packages/theme-default/.eslintrc.json
  packages/utils/.eslintrc.json
  pnpm-lock.yaml
Due: prettier --write

chore: update Storybook and improve package imports
  apps/docs/.storybook/main.ts
  apps/docs/package.json
  apps/docs/tsconfig.json
Due: eslint, prettier --write

fix: allow any children for List
  packages/react/src/components/List/List.tsx
Due: eslint, prettier --write

feat: add nextjs example app
  .gitignore
  apps/nextjs-example/.eslintignore
  apps/nextjs-example/.eslintrc.json
  apps/nextjs-example/.stylelintignore
  apps/nextjs-example/.stylelintrc.json
  apps/nextjs-example/app/about/page.tsx
  apps/nextjs-example/app/index.css
  apps/nextjs-example/app/layout.tsx
  apps/nextjs-example/app/page.tsx
  apps/nextjs-example/app/posts/[slug]/page.tsx
  apps/nextjs-example/contentlayer.config.ts
  apps/nextjs-example/next-env.d.ts
  apps/nextjs-example/next.config.js
  apps/nextjs-example/package.json
  apps/nextjs-example/playwright.config.ts
  apps/nextjs-example/posts/integer-hendrerit.mdx
  apps/nextjs-example/posts/lorem-ipsum.mdx
  apps/nextjs-example/posts/nulla-viverra-ornare-tortor.mdx
  apps/nextjs-example/test/about.spec.ts
  apps/nextjs-example/test/home.spec.ts
  apps/nextjs-example/test/post.spec.ts
  apps/nextjs-example/tsconfig.json
  apps/nextjs-example/utils/mdx.tsx
  package.json
  packages/typescript-config/nextjs.json
  pnpm-lock.yaml
  turbo.json
Due: eslint, prettier --write, stylelint

chore: update dependencies
  apps/docs/package.json
  apps/nextjs-example/package.json
  apps/react-example/package.json
  package.json
  packages/eslint-config/package.json
  packages/react/package.json
  packages/style/package.json
  packages/theme-default/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: revert change in storybook package imports
  apps/docs/package.json
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

feat: add Anchor component
  apps/docs/.storybook/preview.ts
  apps/docs/stories/Navigation/Anchor.stories.tsx
  apps/nextjs-example/app/layout.tsx
  apps/nextjs-example/app/page.tsx
  apps/nextjs-example/posts/lorem-ipsum.mdx
  apps/nextjs-example/utils/mdx.tsx
  package.json
  packages/react/src/components/Anchor/Anchor.test.tsx
  packages/react/src/components/Anchor/Anchor.tsx
  packages/react/src/components/Anchor/__snapshots__/Anchor.test.tsx.snap
  packages/react/src/components/Anchor/index.ts
  packages/react/src/components/index.ts
  packages/style/src/components/anchor.css
  packages/style/src/index.css
Due: eslint, prettier --write, stylelint

test: better naming in tests
  packages/react/src/components/Blockquote/Blockquote.test.tsx
  packages/react/src/components/Heading/Heading.test.tsx
  packages/react/src/components/List/List.test.tsx
  packages/react/src/components/Paragraph/Paragraph.test.tsx
  packages/react/src/components/Text/Text.test.tsx
Due: eslint, prettier --write

fix: add some missing css font rules
  packages/style/src/components/blockquote.css
  packages/style/src/components/list.css
  packages/style/src/components/paragraph.css
  packages/style/src/components/text.css
Due: prettier --write, stylelint

docs: simpler example
  apps/docs/stories/Typography/Text.stories.tsx
Due: eslint, prettier --write

feat: add Stack component
  .gitignore
  apps/docs/.storybook/preview.ts
  apps/docs/stories/Layout/Stack.stories.tsx
  apps/nextjs-example/app/about/page.tsx
  apps/nextjs-example/app/layout.tsx
  apps/nextjs-example/app/page.tsx
  apps/nextjs-example/app/posts/[slug]/page.tsx
  apps/react-example/src/App.tsx
  apps/react-example/src/examples/Typography/TypographyExample.tsx
  apps/react-example/src/examples/Typography/__snapshots__/TypographyExample.test.tsx.snap
  packages/react/src/components/Stack/Stack.test.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/__snapshots__/Stack.test.tsx.snap
  packages/react/src/components/Stack/index.ts
  packages/react/src/components/index.ts
  packages/style/src/components/stack.css
  packages/style/src/index.css
Due: eslint, prettier --write, stylelint

chore: update dependencies
  apps/docs/package.json
  apps/nextjs-example/package.json
  apps/react-example/package.json
  package.json
  packages/eslint-config/package.json
  packages/react/package.json
  packages/style/package.json
  packages/stylelint-config/package.json
  packages/theme-default/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add id property to for all components
  packages/react/src/components/Anchor/Anchor.tsx
  packages/react/src/components/Blockquote/Blockquote.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Heading/Heading.tsx
  packages/react/src/components/List/List.tsx
  packages/react/src/components/List/ListItem.tsx
  packages/react/src/components/Paragraph/Paragraph.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Text/Text.tsx
  packages/utils/src/components.ts
Due: eslint, prettier --write

feat: add grayscale palette
  packages/style/src/tokens/colors.css
Due: prettier --write, stylelint

fix: jest-dom usage with vitest
  apps/react-example/test/setup.ts
  packages/react/test/setup.ts
Due: eslint, prettier --write

feat: button component
  apps/docs/stories/Form/Button.stories.tsx
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/style/src/components/button.css
Due: eslint, prettier --write, stylelint

feat: input component
  apps/docs/stories/Form/Input.stories.tsx
  packages/react/src/components/Input/Input.test.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/react/src/components/Input/index.ts
  packages/react/src/components/index.ts
  packages/style/src/components/input.css
  packages/style/src/index.css
Due: eslint, prettier --write, stylelint

feat: textarea component
  apps/docs/stories/Form/Textarea.stories.tsx
  packages/react/src/components/Textarea/Textarea.test.tsx
  packages/react/src/components/Textarea/Textarea.tsx
  packages/react/src/components/Textarea/__snapshots__/Textarea.test.tsx.snap
  packages/react/src/components/Textarea/index.ts
  packages/react/src/components/index.ts
  packages/style/src/components/textarea.css
  packages/style/src/index.css
Due: eslint, prettier --write, stylelint

fix: add missing imports
  packages/utils/src/css.test.ts
Due: eslint, prettier --write

docs: add labels for input stories
  apps/docs/stories/Form/Input.stories.tsx
  apps/docs/stories/Form/Textarea.stories.tsx
Due: eslint, prettier --write

test: fix incorrect url assertion
  apps/nextjs-example/test/about.spec.ts
Due: eslint, prettier --write

chore: add missing release-type
  .github/workflows/release.yml
Due: prettier --write

chore: add nextjs example release confing
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

chore: rename vite eslint config to react
  apps/react-example/.eslintrc.json
  packages/eslint-config/react.json
  packages/react/.eslintrc.json
  packages/style/.eslintrc.json
  packages/theme-default/.eslintrc.json
  packages/utils/.eslintrc.json
Due: prettier --write

chore: rename vite tsconfig to vite-react
  apps/react-example/tsconfig.json
  packages/react/tsconfig.json
  packages/style/tsconfig.json
  packages/theme-default/tsconfig.json
  packages/typescript-config/vite-react.json
  packages/utils/tsconfig.json
Due: prettier --write

chore: redefine typescript configs
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/package.json
  packages/typescript-config/vite-react.json
  pnpm-lock.yaml
Due: prettier --write

chore: add tsconfig for lit components
  packages/typescript-config/vite-lit.json
Due: prettier --write

feat: publish every component's css as it's own file as well as the whole bundle
  apps/docs/.storybook/preview.ts
  apps/nextjs-example/app/index.css
  apps/react-example/src/index.css
  packages/style/src/components.css
  packages/style/src/index.css
  packages/style/src/tokens.css
  packages/style/vite.config.ts
Due: eslint, prettier --write, stylelint

chore: simplify theme-default building
  packages/theme-default/vite.config.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.css)) or (any of: *.{json,html,md,mdx,yml,yaml})
  stylelint: any of: *.css
