Repository jtiala/themeless-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore: remove typescript files from css packages
  packages/style/package.json
  packages/style/src/index.ts
  packages/style/tsconfig.json
  packages/theme-default/package.json
  packages/theme-default/src/index.ts
  packages/theme-default/tsconfig.json
Due: eslint, prettier --write

chore: remove eslint from css packages
  packages/style/.eslintignore
  packages/style/.eslintrc.json
  packages/style/package.json
  packages/theme-default/.eslintignore
  packages/theme-default/.eslintrc.json
  packages/theme-default/package.json
Due: prettier --write

chore: fix lockfile
  pnpm-lock.yaml
Due: prettier --write

chore: add lit eslint config
  packages/eslint-config/lit.json
  packages/eslint-config/package.json
Due: prettier --write

feat: initial setup for web components
  packages/web-components/.eslintignore
  packages/web-components/.eslintrc.json
  packages/web-components/LICENSE
  packages/web-components/package.json
  packages/web-components/src/components/Blockquote/Blockquote.ts
  packages/web-components/src/components/Blockquote/index.ts
  packages/web-components/src/components/Heading/Heading.ts
  packages/web-components/src/components/Heading/index.ts
  packages/web-components/src/components/Paragraph/Paragraph.ts
  packages/web-components/src/components/Paragraph/index.ts
  packages/web-components/src/components/Text/Text.ts
  packages/web-components/src/components/Text/index.ts
  packages/web-components/src/components/index.ts
  packages/web-components/src/index.ts
  packages/web-components/src/utils/TUIComponent.ts
  packages/web-components/src/utils/index.ts
  packages/web-components/tsconfig.json
  packages/web-components/vite.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: add vite.config.ts to ts configurations wherever plausible
  apps/react-example/tsconfig.json
  packages/react/tsconfig.json
  packages/style/tsconfig.json
  packages/theme-default/tsconfig.json
  packages/utils/tsconfig.json
  packages/web-components/tsconfig.json
Due: prettier --write

feat: import css for web components from styles package
  packages/web-components/src/components/Blockquote/Blockquote.ts
  packages/web-components/src/components/Heading/Heading.ts
  packages/web-components/src/components/Paragraph/Paragraph.ts
  packages/web-components/src/components/Text/Text.ts
Due: eslint, prettier --write

chore: update pnpm
  apps/docs/package.json
  apps/nextjs-example/package.json
  apps/react-example/package.json
  package.json
  packages/eslint-config/package.json
  packages/react/package.json
  packages/style/package.json
  packages/stylelint-config/package.json
  packages/theme-default/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
  packages/web-components/package.json
Due: prettier --write

chore: update turbo
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  apps/docs/package.json
  apps/nextjs-example/package.json
  apps/react-example/package.json
  package.json
  packages/eslint-config/package.json
  packages/react/package.json
  packages/style/package.json
  packages/stylelint-config/package.json
  packages/theme-default/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
  packages/web-components/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add web components example app
  apps/web-components-example/LICENSE
  apps/web-components-example/index.html
  apps/web-components-example/package.json
Due: prettier --write

chore: add release missing configs
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

chore: regenerate pnpm lock
  pnpm-lock.yaml
Due: prettier --write

feat: create web component for each of the tui component that didn't have one already
  apps/web-components-example/index.html
  packages/web-components/src/components/Anchor/Anchor.ts
  packages/web-components/src/components/Anchor/index.ts
  packages/web-components/src/components/Blockquote/Blockquote.ts
  packages/web-components/src/components/Button/Button.ts
  packages/web-components/src/components/Button/index.ts
  packages/web-components/src/components/Input/Input.ts
  packages/web-components/src/components/Input/index.ts
  packages/web-components/src/components/List/List.ts
  packages/web-components/src/components/List/index.ts
  packages/web-components/src/components/ListItem/ListItem.ts
  packages/web-components/src/components/ListItem/index.ts
  packages/web-components/src/components/Paragraph/Paragraph.ts
  packages/web-components/src/components/Stack/Stack.ts
  packages/web-components/src/components/Stack/index.ts
  packages/web-components/src/components/TUIComponent.ts
  packages/web-components/src/components/Text/Text.ts
  packages/web-components/src/components/Textarea/Textarea.ts
  packages/web-components/src/components/Textarea/index.ts
  packages/web-components/src/components/index.ts
  packages/web-components/src/events/TUIBlurEvent.ts
  packages/web-components/src/events/TUIChangeEvent.ts
  packages/web-components/src/events/TUIClickEvent.ts
  packages/web-components/src/events/TUIFocusEvent.ts
  packages/web-components/src/events/TUIMouseEnterEvent.ts
  packages/web-components/src/events/TUIMouseLeaveEvent.ts
  packages/web-components/src/events/TUITouchEndEvent.ts
  packages/web-components/src/events/TUITouchStartEvent.ts
  packages/web-components/src/events/index.ts
  packages/web-components/src/utils/index.ts
Due: eslint, prettier --write

chore: text formatting
  apps/docs/stories/Typography/Text.stories.tsx
Due: eslint, prettier --write

chore: reorder props
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Textarea/Textarea.tsx
Due: eslint, prettier --write

fix: incorrect css rules
  packages/style/src/components/anchor.css
Due: prettier --write, stylelint

docs: fix typo
  packages/utils/src/components.ts
Due: eslint, prettier --write

test: configure stricter a11y rules
  .github/workflows/ci.yml
  apps/docs/.eslintignore
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  apps/docs/.storybook/test-runner.ts
  apps/docs/package.json
  apps/nextjs-example/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

test: remove duplicate prepare script
  apps/docs/package.json
Due: prettier --write

chore: update dependencies BREAKING CHANGE: updating Vite to v5
  apps/docs/package.json
  apps/nextjs-example/package.json
  apps/react-example/package.json
  package.json
  packages/eslint-config/package.json
  packages/react/package.json
  packages/style/package.json
  packages/theme-default/package.json
  packages/utils/package.json
  packages/web-components/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: ignore webpack infrastructure warnings as a temporary solution
  apps/nextjs-example/next.config.js
Due: eslint, prettier --write

ci: don't run test prepare script as part of test script, because it fails on ci
  .github/workflows/ci.yml
  apps/docs/package.json
  apps/nextjs-example/package.json
Due: prettier --write

fix: css selectors
  packages/style/src/components/blockquote.css
  packages/style/src/components/list.css
Due: prettier --write, stylelint

docs: fix typo
  apps/docs/stories/Typography/Text.stories.tsx
  apps/web-components-example/index.html
Due: eslint, prettier --write

fix: use type stored in const
  packages/react/src/components/Anchor/Anchor.tsx
Due: eslint, prettier --write

chore: update dependencies
  apps/docs/package.json
  apps/nextjs-example/package.json
  apps/react-example/package.json
  package.json
  packages/eslint-config/package.json
  packages/react/package.json
  packages/style/package.json
  packages/stylelint-config/package.json
  packages/theme-default/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
  packages/web-components/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: change ports for dev and preview commands
  apps/docs/package.json
  apps/docs/stories/Development.mdx
  apps/nextjs-example/package.json
  apps/react-example/package.json
  apps/web-components-example/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: run formatters
  apps/docs/tsconfig.json
  apps/nextjs-example/tsconfig.json
  apps/react-example/tsconfig.json
  packages/react/tsconfig.json
  packages/style/tsconfig.json
  packages/theme-default/tsconfig.json
  packages/utils/tsconfig.json
  packages/web-components/tsconfig.json
Due: prettier --write

chore: update to node 20.11.0
  .nvmrc
  pnpm-lock.yaml
Due: prettier --write

test: fix tests to use the new ports doc: add instruction to run tests preparations
  apps/docs/package.json
  apps/docs/stories/Development.mdx
  apps/nextjs-example/package.json
  apps/nextjs-example/playwright.config.ts
  package.json
  turbo.json
Due: eslint, prettier --write

feat: add some null and empty check predicates to the utils package
  packages/utils/src/index.ts
  packages/utils/src/predicates.ts
  packages/utils/src/predicatest.test.ts
Due: eslint, prettier --write

feat: add util function for generating css class name strings conditionally
  packages/utils/src/css.test.ts
  packages/utils/src/css.ts
Due: eslint, prettier --write

feat: use cns util in stack class names
  packages/react/src/components/Stack/Stack.tsx
  packages/web-components/src/components/Stack/Stack.ts
Due: eslint, prettier --write

feat: add Storybook utils
  apps/docs/utils/ExampleGrid.tsx
  apps/docs/utils/ExampleItem.tsx
  apps/docs/utils/ExampleStack.tsx
  apps/docs/utils/ExampleTitle.tsx
  apps/docs/utils/SizeElement.tsx
  apps/docs/utils/decorators.tsx
  apps/docs/utils/index.ts
  packages/typescript-config/storybook.json
Due: eslint, prettier --write

docs: improve typography components documentations
  packages/react/src/components/Blockquote/Blockquote.tsx
  packages/react/src/components/Heading/Heading.tsx
  packages/react/src/components/List/List.tsx
  packages/react/src/components/List/ListItem.tsx
  packages/react/src/components/Paragraph/Paragraph.tsx
Due: eslint, prettier --write

feat: add Prose component
  apps/docs/stories/Layout/Stack.stories.tsx
  apps/docs/stories/Typography/Blockquote.stories.tsx
  apps/docs/stories/Typography/Heading.stories.tsx
  apps/docs/stories/Typography/List.stories.tsx
  apps/docs/stories/Typography/Paragraph.stories.tsx
  apps/docs/stories/Typography/Prose.stories.tsx
  apps/docs/stories/Typography/Text.stories.tsx
  apps/nextjs-example/app/about/page.tsx
  apps/nextjs-example/app/posts/[slug]/page.tsx
  apps/react-example/src/examples/Typography/TypographyExample.tsx
  apps/react-example/src/examples/Typography/__snapshots__/TypographyExample.test.tsx.snap
  apps/web-components-example/index.html
  packages/react/src/components/Prose/Prose.test.tsx
  packages/react/src/components/Prose/Prose.tsx
  packages/react/src/components/Prose/__snapshots__/Prose.test.tsx.snap
  packages/react/src/components/Prose/index.ts
  packages/react/src/components/index.ts
  packages/style/src/components.css
  packages/style/src/components/blockquote.css
  packages/style/src/components/heading.css
  packages/style/src/components/list.css
  packages/style/src/components/paragraph.css
  packages/style/src/components/prose.css
  packages/web-components/src/components/Prose/Prose.ts
  packages/web-components/src/components/Prose/index.ts
  packages/web-components/src/components/index.ts
Due: eslint, prettier --write, stylelint

docs: improve jsdoc of some components
  packages/react/src/components/Anchor/Anchor.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Textarea/Textarea.tsx
Due: eslint, prettier --write

docs: add a new decorator for storybook
  apps/docs/utils/decorators.tsx
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.css)) or (any of: *.{json,html,md,mdx,yml,yaml})
  stylelint: any of: *.css
